.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
 }

 .mainGrid{
  display: grid;
  grid-template-columns: repeat(11, 1fr) 1fr;
 }
 .content {
  grid-column: 2 / span 8;
 }
 .ad{
  grid-column: 10 / span 3;
 }
